
*{
    background-color: rgb(87, 47, 160);
    font-family: Impact;
    text-align: center;
    box-sizing: border-box;
}

h1, h2, p, a {
    color: white;
}

h2, h1{
    background-color: rgba(250, 235, 215, 0.425);
}

a{
    font-size: larger;
    text-decoration:none;
}

li{
    list-style-type:lower-greek;
    color: white;
    margin-left: auto;
    margin-right: auto;
}

.boton{
    color: rgb(15, 3, 38);
    background-color: rgb(255, 255, 255);
    border-radius: 40px;
    border-color: white;
    padding: 8px;
    display: inline-block;
    margin: 10px;
}

.platillo{
    max-height: 400px;
}

.container{
    width: 640px;
    margin-left: auto;
    margin-right: auto;
    background-color: blueviolet;
    border: 4px double  white;
}